<html>
    <body>
        <div id="entry">
            <img id="image" src="/pull/0.jpeg"></img>
        </br>
            <input type="button" id="next" onclick="gen()" value="Next" style="width:512px;height:50px;margin-top: 20px;"></input>
        </div>
    </body>
    
</html>
<style>
img {
    width: 512px;
}
</style>
<script>

img = document.getElementById("image")

function getRandomInt(max) {
  return Math.floor(Math.random() * max);
}

function gen() {
    console.log(img.src)
    console.log(img.src.substr(img.src.lastIndexOf("/") + 1))
    
    fetch("/push/" + img.src.substr(img.src.lastIndexOf("/") + 1))
    img.src = "/pull/" + getRandomInt(9999999).toString() + ".jpeg"
}



</script>